:root {
/* CSS HEX */
--white-smoke: #eff1edff;
--drab-dark-brown: #373d20ff;
--reseda-green: #717744ff;
--sage: #bcbd8bff;
--umber: #766153ff;

/* CSS HSL */
--white-smoke: hsla(90, 12%, 94%, 1);
--drab-dark-brown: hsla(72, 31%, 18%, 1);
--reseda-green: hsla(67, 27%, 37%, 1);
--sage: hsla(61, 27%, 64%, 1);
--umber: hsla(24, 17%, 39%, 1);
--dark: #407042;
--light: #7DB57F;
--background: #E1D6CA;
}
