

.nav {
    background-color: var(--dark-text);
    color: var(--light-text);
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: stretch;
}

.nav ul {
    list-style: none;
    background-color: beige;
    display: flex;
    height: 100%;
}
